
.button{
    position: relative ;
    display: inline-block;
    padding: 10px 120px ;
    /* margin: 50px 500px; */
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2s;
    min-width: auto;

}

.button:hover{
    color: black;
    background: 	#009665;
    box-shadow: 0 0 10px 	#009665, 0 0 40px 	#009665, 0 0 80px 	#009665;
    transition-delay: 1s;
}

.button span{
    position: absolute;
    display: block;
}
 .button span:nth-child(1){
    top:0;
    left:-100%;
    width:100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,	#009665);

 }
 .button:hover span:nth-child(1){
    left:100%;
    transition: 1s;
    min-width: auto;
 }

 .button span:nth-child(3){
    bottom:0;
    right:-100%;
    width:100%;
    height:2px;
    background: linear-gradient(270deg,transparent,	#009665);

 }
 .button:hover span:nth-child(3){
    right:100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.button span:nth-child(2){
    top:-100%;
    right: 0;
    width:2px;
    height:100%;
    background: linear-gradient(180deg,transparent,	#009665);

 }
 .button:hover span:nth-child(2){
    top:100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.button span:nth-child(4){
    bottom:-100%;
    left:0;
    width:2px;
    height:100%;
    background: linear-gradient(3600deg,transparent,	#009665);

 }
 .button:hover span:nth-child(4){
    bottom:100%;
    transition: 1s;
    transition-delay: 0.75s;
}